@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 36 29% 90%;
    --foreground: 171 15% 35%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 172 96% 18%;
    --primary-foreground: 0 0% 100%;
    --secondary: 38 100% 98%;
    --secondary-foreground: 170 89% 21%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 0% 98%;
    --border:35 8% 71%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0rem;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent:172 96% 18% ;
    --accent-foreground:36 29% 90%;
   

  }
  .dark {
    --background: 160 23% 18%;
    --foreground: 36 29% 90%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary:36 29% 90% ;
    --primary-foreground: 0 0% 9%;
    --secondary:159 22% 41%;
    --secondary-foreground: 158 45% 87%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 36 29% 90%;
    --accent-foreground:160 23% 18%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 160 14% 55%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --radius: 0rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}